.Loading {
    position: absolute;
    top: 200px;
    left: calc(50% - 160px);
    background-color: white;
    width: 320px;
    height: 50px;
    border: 1px solid #aaa;
    box-shadow: 4px 4px 12px 2px #00000040;
    border-radius: 8px;
    line-height: 47px;
    font-size: 18px;
    text-align: center;
}

.MenuIconSpacer {
    display: inline-block;
    width: 21px;
}

.HorizontalSpacer {
}

.ant-dropdown-menu-submenu-title .ant-dropdown-menu-item-icon {
    position: relative;
    top: -3px;
}

.ResumeViewerBody { /* Supplementing CSS Class MainContent */
    padding: 20px 20px 60px 20px;
    width: 1200px;
    left: calc(50% - 600px);
}

    .ResumeViewerBody a {
        text-decoration: none;
    }

.TopFadeout, .BottomFadeout {
    position: fixed;
    width: 1200px;
    left: calc(50% - 600px);
    height: 20px;
    border-radius: 8px;
    background-clip: content-box;
    padding: 0px 16px 0px 1px;
}

.TopFadeout {
    top: 21px;
    background-image: linear-gradient(#ffffff, rgba(255,255,255,0));
}

.BottomFadeout {
    bottom: 21px;
    background-image: linear-gradient(rgba(255,255,255,0), #ffffff 80%);
}

.FullName {
    font-size: 38px;
    font-weight: bold;
}

.PersonTitle {
    position: absolute;
    left: calc(50% - 250px);
    top: 36px;
    width: 500px;
    font-size: 22px;
    text-align: center;
}

    .PersonTitle span {
        cursor: pointer;
    }

.SmallIcon {
    width: 15px;
    height: 15px;
}

.PrintIcon {
    margin: -12px 0px 0px 12px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.ChartIcon {
    margin: -10px 0px 0px 10px;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.ContactInfo {
    float: right;
    padding-right: 10px;
}

.Links .WebLink {
    font-size: 16px;
}

    .Links .WebLink:not(:first-child) {
        margin-left: 10px;
        border-left: 1px solid #888;
        padding-left: 10px;
    }

.HiddenTopic {
    color: #ccc;
}

.TopicHeader {
    font-size: 20px;
    font-weight: bold;
    margin-top: 16px;
    width: 100%;
    border-bottom: 1px solid #888;
}

    .TopicHeader a {
        color: black;
    }

.TopicRightControl {
    float: right;
    font-size: 11px;
    font-weight: normal;
    line-height: 24px;
}

.JobTimeLineFilteType {
    font-size: 12px;
}

.JobTimeLineEvent {
    margin-top: 10px;
    margin-bottom: 20px;
}

    .JobTimeLineEvent .InstitutionHeader {
        margin-top: 5px;
    }

    .JobTimeLineEvent .Institution {
        font-size: 18px;
        font-weight: bold;
    }

    .JobTimeLineEvent .InstitutionWeb {
        margin-left: 5px;
    }

    .JobTimeLineEvent .Location {
        font-size: 16px;
        margin-left: 5px;
        padding-left: 5px;
        border-left: 2px solid #888;
    }

    .JobTimeLineEvent .JobRemarks {
        padding: 0px 0px 10px 10px;
    }

        .JobTimeLineEvent .JobRemarks ul {
            list-style-type: circle;
            margin-bottom: -8px;
        }

    .JobTimeLineEvent .Career {
        margin-left: 19px;
    }

    .JobTimeLineEvent .CareerHeader {
        padding-top: 8px;
    }

    .JobTimeLineEvent .Title {
        font-size: 18px;
        font-weight: bold;
    }

    .JobTimeLineEvent .Period {
        float: right;
    }

    .JobTimeLineEvent .KeyEnvironment,
    .JobTimeLineEvent .ResponsibilitiesLabel {
        padding-top: 5px;
    }

    .JobTimeLineEvent .EnvironmentLabel,
    .JobTimeLineEvent .ResponsibilitiesLabel {
        font-size: 16px;
        font-weight: bold;
    }

    .JobTimeLineEvent .AlsoUsed {
        background-color: white;
    }

        .JobTimeLineEvent .AlsoUsed .ant-collapse-header {
            padding: 0px 0px 10px 0px;
        }

            .JobTimeLineEvent .AlsoUsed .ant-collapse-header .ant-collapse-arrow {
                position: relative;
                top: -2px;
            }

    .JobTimeLineEvent .Responsibilities {
        max-width: 1050px;
        margin-block-end: 10px;
    }

    .JobTimeLineEvent .JobDescription {
        font-size: 15px;
    }

    .JobTimeLineEvent .SpecialLinks {
        padding-left: 10px;
    }

    .JobTimeLineEvent .JobEnviroment {
        font-style: italic;
        font-size: 12px;
        margin-top: -3px;
        padding-bottom: 10px;
    }

    .JobTimeLineEvent .HighlightedResponsibility:before {
        content: "\2022";
        font-size: 30px;
        font-weight: bold;
        display: inline-block;
        width: 0.7em;
        margin-left: -0.7em;
        position: relative;
        top: 3px;
    }


    .JobTimeLineEvent .HighlightedDisciplines {
        font-weight: 500;
    }

.HobbyTimeLineEvent {
    margin-top: 5px;
    margin-bottom: 10px;
}

    .HobbyTimeLineEvent .HobbyTitle {
        font-size: 16px;
        font-weight: bold;
    }

    .HobbyTimeLineEvent .HobbySet {
        padding-left: 28px;
    }

    .HobbyTimeLineEvent .JobEnviroment {
        font-style: italic;
        font-size: 12px;
        padding-bottom: 5px;
    }


.EducationTimeLineEvent {
    margin-bottom: 20px;
}

    .EducationTimeLineEvent .Program {
        font-size: 18px;
        font-weight: bold;
    }

    .EducationTimeLineEvent .Period {
        float: right;
    }

    .EducationTimeLineEvent .InstitutionHeader {
        margin-top: 5px;
    }

    .EducationTimeLineEvent .Institution {
        font-size: 16px;
        font-weight: bold;
    }

    .EducationTimeLineEvent .InstitutionWeb {
        margin-left: 5px;
    }

    .EducationTimeLineEvent .Location {
        font-size: 16px;
        margin-left: 5px;
        padding-left: 5px;
        border-left: 2px solid #888;
    }

.SkillsColumns {
    width: 100%;
}

    .SkillsColumns .LeftSkillsColumn,
    .SkillsColumns .RightSkillsColumn {
        width: 50%;
        vertical-align: top;
    }

.SkillsList {
    border-collapse: separate;
    border-spacing: 0px 6px;
}

    .SkillsList .SkillName {
        font-weight: bold;
        padding-right: 5px;
        text-align: right;
        vertical-align: middle;
    }

    .SkillsList .SkillConnector {
        width: 10px;
        position: relative;
    }

        .SkillsList .SkillConnector .CurlyBracketLeft {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            fill: red;
        }

    .SkillsList .SkillMembers {
        text-align: left;
        vertical-align: middle;
    }

.ReferenceTopic {
}

.ChartDialog .ant-modal-body {
    padding: 0px;
}

.ChartModalContent.Downloading .CloseIcon {
    display: none;
}

.ChartModalContent.Downloading .ZoomInOutButton {
    display: none;
}

.ChartContainer {
    padding: 10px;
    width: 100%;
}

.LegendPanel {
    vertical-align: top;
    display: inline-block;
    width: 170px;
    border: 1px solid #ccc;
}

.LegendTitle {
    padding: 0px 5px 0px 5px;
    color: #222;
    background-color: #ddd;
}

.LegendList {
    list-style: none;
    margin: 0px;
    padding: 5px 0px 5px 0px;
}

    .LegendList li {
        cursor: pointer;
        padding: 0px 5px 0px 5px;
        margin: 0px 5px 0px 5px;
        font-size: 14px;
        line-height: 18px;
    }

        .LegendList li:hover {
            background-color: #eee;
        }

            .LegendList li:hover span {
                filter: brightness(0.75);
            }

        .LegendList li:before {
            content: "o";
            position: relative;
            top: -1px;
            font-size: 12px;
            padding-right: 6px;
        }

.ChartPanel {
    display: inline-block;
    width: calc(100% - 170px);
}

.ToolTipPanel {
    background-color: #f8f8f8;
    padding: 5px 10px 5px 10px;
    box-shadow: 4px 4px 12px 2px #00000040;
}

.TutorialContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: transparent;
    z-index: 1;
    display: none;
    opacity: 0;
    transition: opacity 500ms linear;
    pointer-events: all;
}

.TutotialControl {
    position: absolute;
    left: calc(50% - 236px);
    font-size: 16px;
    top: 10px;
    width: 472px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: white;
    padding: 5px 5px 5px 7px;
    text-align: center;
    box-shadow: 4px 4px 12px 2px #00000040;
    z-index: 1;
}

    .TutotialControl .TutorialLabel {
        padding: 0px 14px 2px 14px;
        background-color: #ddd;
        border-radius: 20px;
    }

.MouseCursor {
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all 500ms ease;
    z-index: 0;
}

    .MouseCursor img {
        position: absolute;
        left: -24px;
    }

@media print {
    body {
        overflow: auto;
    }

    .ant-popover {
        display: none;
    }

    .MainBackground {
        display: none;
    }

    .ResumeViewerBody { /* Supplementing CSS Class MainContent */
        position: static;
        padding: 10px 0px 20px 20px;
        width: 1000px;
        left: 0px;
        border: none;
        box-shadow: none;
        overflow: visible;
    }

    .KeepTogether {
        page-break-inside: avoid;
    }

    .TopFadeout, .BottomFadeout {
        display: none;
    }

    .PrintIcon, .ChartIcon {
        display: none;
    }

    .anticon-down {
        display: none;
    }

    .TopicRightControl {
        display: none;
    }

    .HiddenTopic {
        display: none;
    }

    .AlsoUsed {
        display: none;
    }
}


.MobileView {
    overflow: auto;
    width: 1030px;
}

    .MobileView .ResumeViewerBody { /* Supplementing CSS Class MainContent */
        position: static;
        padding: 10px 0px 20px 20px;
        width: 1000px;
        left: 0px;
        border: none;
        box-shadow: none;
        overflow: visible;
    }

    .MobileView .TopFadeout,
    .MobileView .BottomFadeout {
        display: none;
    }
