.ResumeViewerBody { /* Supplementing CSS Class MainContent */
    padding: 20px 20px 60px 20px;
    width: 1200px;
    left: calc(50% - 600px);
}

    .ResumeViewerBody a {
        text-decoration: none;
    }

.TopFadeout, .BottomFadeout {
    position: fixed;
    width: 1200px;
    left: calc(50% - 600px);
    height: 20px;
    border-radius: 8px;
    background-clip: content-box;
    padding: 0px 16px 0px 1px;
}

.TopFadeout {
    top: 21px;
    background-image: linear-gradient(#ffffff, rgba(255,255,255,0));
}

.BottomFadeout {
    bottom: 21px;
    background-image: linear-gradient(rgba(255,255,255,0), #ffffff 80%);
}

.FullName {
    font-size: 38px;
    font-weight: bold;
}


.SmallIcon {
    width: 15px;
    height: 15px;
}

.PrintIcon {
    margin: -12px 0px 0px 12px;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.ChartIcon {
    margin: -10px 0px 0px 10px;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.ContactInfo {
    float: right;
    padding-right: 10px;
}

.Links .WebLink {
    font-size: 16px;
}

    .Links .WebLink:not(:first-child) {
        margin-left: 10px;
        border-left: 1px solid #888;
        padding-left: 10px;
    }

.TopicHeader {
    font-size: 20px;
    font-weight: bold;
    margin-top: 16px;
    width: 100%;
    border-bottom: 1px solid #888;
}

.JobTimeLineEvent {
    margin-top: 10px;
    margin-bottom: 20px;
}

    .JobTimeLineEvent .InstitutionHeader {
        margin-top: 5px;
    }

    .JobTimeLineEvent .Institution {
        font-size: 18px;
        font-weight: bold;
    }

    .JobTimeLineEvent .InstitutionWeb {
        margin-left: 5px;
    }

    .JobTimeLineEvent .Location {
        font-size: 16px;
        margin-left: 5px;
        padding-left: 5px;
        border-left: 2px solid #888;
    }

    .JobTimeLineEvent .JobRemarks {
        padding: 0px 0px 10px 10px;
    }

        .JobTimeLineEvent .JobRemarks ul {
            list-style-type: circle;
            margin-bottom: -8px;
        }

    .JobTimeLineEvent .Career {
        margin-left: 19px;
    }

    .JobTimeLineEvent .Title {
        font-size: 16px;
        font-weight: bold;
    }

    .JobTimeLineEvent .Period {
        float: right;
    }

    .JobTimeLineEvent .Responsibilities {
        max-width: 1050px;
        margin-block-end: 10px;
    }

    .JobTimeLineEvent .UsedDisciplines {
        font-style: italic;
        font-size: 12px;
        margin-top: -3px;
        padding-bottom: 10px;
    }

.HobbyTimeLineEvent {
    margin-top: 10px;
    margin-bottom: 20px;
}

    .HobbyTimeLineEvent .HobbyTitle {
        font-size: 18px;
        font-weight: bold;
    }

    .HobbyTimeLineEvent .UsedDisciplines {
        font-style: italic;
        font-size: 12px;
        padding-bottom: 10px;
    }


.EducationTimeLineEvent {
    margin-bottom: 20px;
}

    .EducationTimeLineEvent .Program {
        font-size: 18px;
        font-weight: bold;
    }

    .EducationTimeLineEvent .Period {
        float: right;
    }

    .EducationTimeLineEvent .InstitutionHeader {
        margin-top: 5px;
    }

    .EducationTimeLineEvent .Institution {
        font-size: 16px;
        font-weight: bold;
    }

    .EducationTimeLineEvent .InstitutionWeb {
        margin-left: 5px;
    }

    .EducationTimeLineEvent .Location {
        font-size: 16px;
        margin-left: 5px;
        padding-left: 5px;
        border-left: 2px solid #888;
    }

.SkillsColumns {
    width: 100%;
}

    .SkillsColumns .LeftSkillsColumn,
    .SkillsColumns .RightSkillsColumn {
        width: 50%;
        vertical-align: top;
    }

.SkillsList {
    border-collapse: separate;
    border-spacing: 0px 6px;
}

    .SkillsList .SkillName {
        font-weight: bold;
        padding-right: 5px;
        text-align: right;
        vertical-align: middle;
    }

    .SkillsList .SkillConnector {
        width: 10px;
        position: relative;
    }

        .SkillsList .SkillConnector .CurlyBracketLeft {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            fill: red;
        }

    .SkillsList .SkillMembers {
        text-align: left;
        vertical-align: middle;
    }

.ReferenceTopic {
}

.recharts-default-legend {
    padding: 5px !important;
    border: 1px none #d8d8d8;
    /* Border from: https://kovart.github.io/dashed-border-generator/ */
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='1' stroke-dasharray='10%2c10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.recharts-legend-item {
    margin: 0px !important;
}

.ToolTipPanel {
    background-color: #f8f8f8;
    padding: 5px;
    box-shadow: 4px 4px 12px 2px #00000040;
}

@media print {
    body {
        overflow: auto;
    }

    .ant-popover {
        display: none;
    }

    .MainBackground {
        display: none;
    }

    .ResumeViewerBody { /* Supplementing CSS Class MainContent */
        position: static;
        padding: 10px 0px 20px 20px;
        width: 1000px;
        left: 0px;
        border: none;
        box-shadow: none;
        overflow: visible;
    }

    .KeepTogether {
        page-break-inside: avoid;
    }

    .TopFadeout, .BottomFadeout {
        display: none;
    }

    .PrintIcon, .ChartIcon {
        display: none;
    }
}
