body {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
}

html {
    font-family: Arial;
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: #aaa;
    }

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .5);
}

a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.MainContainer {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.MainContent {
    position: absolute;
    top: 20px;
    bottom: 20px;
    background-color: white;
    overflow: auto;
    border: 1px solid #888;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 8px #00000040;
}

.MainBackground {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: white;
    z-index: -1;
}

.BackgroundSVG {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    stroke: black;
    fill: black;
    filter: blur(4px);
}

.SamllIcon {
    width: 15px;
    height: 15px;
}
